node_modules
dist/app-build-manifest.json
dist/build-manifest.json
dist/package.json
dist/react-loadable-manifest.json
dist/trace
dist/cache/webpack/client-development/0.pack.gz
dist/cache/webpack/client-development/1.pack.gz
dist/cache/webpack/client-development/2.pack.gz
dist/cache/webpack/client-development/3.pack.gz
dist/cache/webpack/client-development/4.pack.gz
dist/cache/webpack/client-development/index.pack.gz
dist/cache/webpack/client-development/index.pack.gz.old
dist/cache/webpack/server-development/0.pack.gz
dist/cache/webpack/server-development/1.pack.gz
dist/cache/webpack/server-development/2.pack.gz
dist/cache/webpack/server-development/index.pack.gz
dist/cache/webpack/server-development/index.pack.gz.old
dist/server/app-paths-manifest.json
dist/server/interception-route-rewrite-manifest.js
dist/server/middleware-build-manifest.js
dist/server/middleware-manifest.json
dist/server/middleware-react-loadable-manifest.js
dist/server/next-font-manifest.js
dist/server/next-font-manifest.json
dist/server/pages-manifest.json
dist/server/server-reference-manifest.js
dist/server/server-reference-manifest.json
dist/server/webpack-runtime.js
dist/server/app/page_client-reference-manifest.js
dist/server/app/page.js
dist/server/vendor-chunks/@swc.js
dist/server/vendor-chunks/lucide-react.js
dist/server/vendor-chunks/next.js
dist/static/chunks/app-pages-internals.js
dist/static/chunks/main-app.js
dist/static/chunks/polyfills.js
dist/static/chunks/webpack.js
dist/static/chunks/app/layout.js
dist/static/chunks/app/page.js
dist/static/css/app/layout.css
dist/static/development/_buildManifest.js
dist/static/development/_ssgManifest.js
dist/static/media/8e9860b6e62d6359-s.woff2
dist/static/media/26a46d62cd723877-s.woff2
dist/static/media/55c55f0601d81cf3-s.woff2
dist/static/media/97e0cb1ae144a2a9-s.woff2
dist/static/media/581909926a08bbc8-s.woff2
dist/static/media/df0a9ae256c0569c-s.woff2
dist/static/media/e4af272ccee01ff0-s.p.woff2
dist/static/webpack/633457081244afec._.hot-update.json
dist/static/webpack/dcfe58ca48915750.webpack.hot-update.json
dist/static/webpack/webpack.dcfe58ca48915750.hot-update.js
dist/static/webpack/app/layout.dcfe58ca48915750.hot-update.js
dist/types/package.json
dist/types/app/layout.ts
dist/types/app/page.ts
.cursor/rules/projectoverview.mdc
